/* HEADER  */
.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex; /* Deixa a logo e o menu lado a lado */
  flex-wrap: wrap; /* Quando chegar no limite da largura minima o menu quebra */
  gap: 20px;
  justify-content: space-between; /* Abre um espaço entre eles */
  align-items: center; /* alinha eles */
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px; /*Aumenta a área de contato*/
  display: inline-block; /* Caso o menu quebre para baixo o padding não respeita as margens e um bloco fica em cima do outro */
  position: relative;
}

/* Cria um sublinhado baixo do menu */
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px; /* inicia com nenhuma largura */
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s; /* cria um efeito do sublinhado */
  position: absolute; /* Tira o sublinhado do fluxo para a logo manter o alinhamento correto somente com o menu */
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%; /* aumenta a largura do sublinhado em 100% */
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.kevin {
  display: block;
  margin-bottom: 20px;
}

.kevin {
  display: flex;
  align-self: center;
  margin-bottom: 0px;
}
